<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.wanfeng.mapper.BilibiliMapper">

    <resultMap type="Bilibili" id="BilibiliResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="cookie" column="cookie"/>
        <result property="refreshToken" column="refresh_token"/>
    </resultMap>
    <insert id="insertOrUpdateBilibiliByUserId" parameterType="Bilibili">
        insert into spider_bilibili (user_id, cookie, refresh_token)
        values (#{userId}, #{cookie}, #{refreshToken})
        on duplicate key update cookie        = #{cookie},
                                refresh_token = #{refreshToken}
    </insert>

    <update id="updateBilibili" parameterType="Bilibili">
        update spider_bilibili
        set cookie        = #{cookie},
            refresh_token = #{refreshToken}
        where user_id = #{userId}
    </update>
    <select id="getBilibiliByUserId" parameterType="long" resultMap="BilibiliResult">
        select *
        from spider_bilibili
        where user_id = #{userId}
    </select>
    <select id="getBilibilis" resultMap="BilibiliResult">
        select *
        from spider_bilibili
    </select>
</mapper>
